<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Lists - {{listName}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css" integrity="sha256-qS+snwBgqr+iFVpBB58C9UCxKFhyL03YHpZfdNUhSEw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/main.css">

</head>

<body>
<main class="section">
    <div class="container">
    <h1 class="title">Items - {{listName}}</h1>
    <hr>
    <p>Here are your items:</p>
    <div class="content">
        <ul>
        {{#each items}}
            <li>{{this.description}}</li>
        {{/each}}
        </ul>
    </div>
    
</div>
</main>

  {{!-- <script src="js/vendor/modernizr-3.11.1.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script> --}}
</body>

</html>